* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.app {
    margin: 0 auto;
    width: 1000px;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: "header header" "nav main";
    grid-gap: 10px;
}

.app-wrapper-main {
    background: #F0F8FF;
}