.userbox {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: rgb(206, 232, 255);
    font-size: 15px;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-areas: "avafollow description";
}

.avafollow {
    grid-area: avafollow;
}

.profileimage {
    width: 100%;
    height: 75%;
}

.follow {
    width: 100%;
    height: 25%;
    padding: 5px;
    background: rgb(85, 128, 167);
    color: whitesmoke;
    outline: none;
    border: none;
    cursor: pointer;
}

.description {
    grid-area: description;
    padding: 10px;
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-template-rows: 6fr 6fr;
    grid-template-areas: "name name" "status location";
}

.name {
    grid-area: name;
}

.status {
    grid-area: status;
}

.location {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    grid-area: location;
}